<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apnipathshaala">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApniPathshaala">
        <activity android:name=".donate.dViewPost"></activity>
        <activity android:name=".donate.donate" />
        <activity android:name=".tutor.tViewPost" />
        <activity android:name=".sale.ViewPost" />
        <activity
            android:name=".sale.SearchActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".tutor.Tutor"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".common.Homepage"
            android:screenOrientation="portrait" />
        <activity android:name=".common.ForgotPasswordActivity" />
        <activity
            android:name=".common.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".common.SignupActivity" />
        <activity android:name=".common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>